@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --border-radius: 4px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground: #4c4f69;
  --background: #eff1f5;
  --surface0: #ccd0da;
  --red: #d20f39;
  --green: #40a02b;

  --html-from: #d55a36;
  --html-to: #f06429;
  --css-from: #0170bb;
  --css-to: #27a8de;
  --js-from: #e4a126;
  --js-to: #f0be25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #cdd6f4;
    --background: #1e1e2e;
    --surface0: #313244;
    --red: #f38ba8;
    --green: #a6e3a1;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, var(--font-mono);
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --margin: 5vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  :root {
    --margin: 7.5vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  :root {
    --margin: 10vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  :root {
    --margin: 15vw;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  :root {
    --margin: 20vw;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    --margin: 25vw;
  }
}
